<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
</head>
<body>
    <header>
        <h1>Bienvenido al Sistema de la Bilbioteca Nacional Rama HTML</h1>
    </header>

    <section>
        <h1>Imagen de Referencia</h1>
    </section>

    <section>
        <nav>
        <ul>
            <li>Libro 1</li>
            <li>Libro 2</li>
            <li>Libro 3</li>
            <li>Libro 4</li>
            <li>Libro 5</li>
            <li>Libro 6</li>
        </ul>
        </nav>
    </section>
    
</body>
</html>